@model EmployeeViewModel
@using Newtonsoft.Json 

@{
    ViewData["Title"] = "Home Page";
}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js" type="text/javascript"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
<link href="https://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />

<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" rel="stylesheet" type="text/css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>


<form asp-action="Save" asp-controller="Employee" data-ajax="true">
    <div class="row">
        <div class="col-md-12">
            <label style="margin-bottom: 25px; margin-top: 15px; padding-right: 20px; " >Employee Number</label>
            <input type="text" asp-for="EMP_ID" id="EmployeeNo" />
            <label style="padding-right: 15px; padding-left: 5px;">Name</label>
            <input type="text" asp-for="EMP_NAME" id="Name" />
            <label style="padding-right: 15px; padding-left: 5px;">Date Of Birth</label>
            <input type="text" asp-for="DOB" autocomplete="off" id="DOB" />
        </div>

    </div>
    <div>
        <table id="allownance" class="table table-bordered">
            <thead>
                <tr>
                    <th>Degree</th>
                    <th>Min</th>
                    <th>Max</th>
                    <th>Value</th>
                </tr>

            </thead>
            <tbody class="listbody">
                @foreach (var item in Model.Allowance)
                {
                    <tr>
                        <td class="td_@Model.Allowance.IndexOf(item)">
                            <span class="allowanceName"> @item.ALLOWANCE_NAME </span><button type="button" class="btn btn-primary" style=" float: right;" data-toggle="modal" onclick="$('#ddlAllowance').val('@item.SEQID'); $('#ddlAllowance').multiselect('refresh');$('#hdnActiveDiv').val('td_@Model.Allowance.IndexOf(item)')" data-target="#exampleModalCenter">
                                ...
                            </button>
                            <input type="hidden" value="@item.SEQID" name="EmployeeSalary[@Model.Allowance.IndexOf(item)].ALLOWANCE_ID" />
                        </td>
                        <td class="minValue">@item.MIN_VALUE</td>
                        <td class="maxValue">@item.MAX_VALUE</td>
                        <td>
                            <input onblur="Validate(this)" class="allowance_AMT" value="0" name="EmployeeSalary[@Model.Allowance.IndexOf(item)].ALLOWANCE_AMT" />

                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
    <input type="submit" name="Save" class="btn btn-primary" onclick="return ValidateValues()" id="Save" value="Save">
    <input type="hidden" id="hdnActiveDiv" />
   
</form>



<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Allowance</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.DropDownList("Allowance", new SelectList(Model.Allowance, "SEQID", "ALLOWANCE_NAME"), null, new { @id = "ddlAllowance" })
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" onclick="Save()" data-dismiss="modal" class="btn btn-primary">Confirm</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        localStorage.setItem('allowances','@Html.Raw(JsonConvert.SerializeObject(Model.Allowance))')
        $("#ddlAllowance").multiselect({
            includeSelectAllOption: true,
            enableFiltering: true
        });
        $('#DOB').datepicker();
    })
    var Save = function () {
        if ($('#ddlAllowance').val() != "" && $('#ddlAllowance').val() != "0") {
            $("." + $('#hdnActiveDiv').val()).find('input[type=hidden]').val($($('#ddlAllowance option:selected')[0]).val());
            $("." + $('#hdnActiveDiv').val()).find('.allowanceName').html($($('#ddlAllowance option:selected')[0]).text());
            var allowances = JSON.parse( localStorage.getItem("allowances"));
            var selectedAllowance = allowances.filter(x => x.SEQID == $($('#ddlAllowance option:selected')[0]).val())[0];
            $("." + $('#hdnActiveDiv').val()).parent().find('.minValue').html(selectedAllowance.MIN_VALUE);
            $("." + $('#hdnActiveDiv').val()).parent().find('.maxValue').html(selectedAllowance.MAX_VALUE);
        }
    }
    var Validate = function (elem) {
        debugger;
        var minvalue = parseInt($(elem).parents('tr').find('.minValue').html());
        var maxvalue = parseInt($(elem).parents('tr').find('.maxValue').html());
        var value = $(elem).val();
        if (value != "" && value != "0" && (parseInt(value) < minvalue || parseInt(value) > maxvalue)){
            alert("Value must be in range" + minvalue + "-" + maxvalue);
        }
        if (value == "") {
            $(elem).val('0');
        }
    }
    var ValidateValues = function () {
        var valid = true;
        $('.allowance_AMT').each(function (index,elem) {
            var minvalue = parseInt($(elem).parents('tr').find('.minValue').html());
            var maxvalue = parseInt($(elem).parents('tr').find('.maxValue').html());
            var value = $(elem).val();
            if (value != "" && value != "0" && (parseInt(value) < minvalue || parseInt(value) > maxvalue)){
                alert("Value must be in range");
                valid = false;
            }

        })
        if ($('#EmployeeNo').val() == "") {
            alert("Enter Employee Number!");
            valid = false;
        }
        else if ($('#Name').val() == "") {
            alert("Enter Employee Name!");
            valid = false;
        }
        else if ($('#DOB').val() == "") {
            alert("Select Date of Birth!");
            valid = false;
        }
        if (!valid)
            return false;
    }

</script>